
.header {
	display: flex;	
	width: 65%;
	margin: auto;
}

.gridgal {
	display: grid;
 	/*grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(24, 1fr);*/
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
 	grid-gap: 15px;
	/*grid-auto-rows: 250px;
	grid-auto-flow: dense;*/
	width: 65%;
	margin: auto;

}




.image {
	width: 100%;
	height: auto;
	/*object-fit: contain;*/
	display: block;
}


.flexdiv {
	width: 65%;
	margin: auto;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 2 0 auto;
	gap: 15px;
	justify-content: space-around;
	padding-top: 15px;
	align-items: baseline;
	padding-bottom: 15px;

}

.flexdiv img {
	height: 300px;
}
